<%- include partials/header -%>
<h1>Home</h1>
<p><%=content1%></p>

<% newTweet.forEach(function(tweet){ %>
   <h1> <%= tweet.title %> </h1>  
   <p> <%= tweet.content.slice(0,100) + " ..." %> <a href="/posts/<%=tweet.title%>/">Read More</a></p>
<% }); %>

<%- include partials/footer.ejs -%>